{% extends "default.html.twig" %}

{% block title %}
    {{ post.longTitle }} - {{ site.title }}
{% endblock %}

{% block meta %}
    <meta name="keywords" content="{{ post.categories|join(',') }}">
{% endblock %}

{% block body %}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="row">
            <h2 class="eight columns" itemprop="headline">{{ post.title }}</h2>
            <aside class="four columns">
                <span class="reading-time" style="display:block;">
                <i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.readingTime }}
                </span>
                <time datetime="{{ post.date | date('Y-m-d\TH:i') }}" itemprop="datePublished">{{ post.date | date('Y-m-d') }}</time>
            </aside>
        </header>

        <section itemprop="articleBody">
            {{ post.body | raw }}
        </section>

    </article>
    <hr>
{% endblock %}