{% extends "default.html.twig" %}
{% import "macros.html.twig" as macros %}

{% block title %}
    Archive - Page #{{ pageNumber }} - {{ site.title }}
{% endblock %}

{% block meta %}
    {% if hasPrev %}
        <link rel="previous" href="{{ macros.archiveurl(pageNumber - 1) }}">
    {% endif %}
    {% if hasNext %}
        <link rel="next" href="{{ macros.archiveurl(pageNumber + 1) }}">
    {% endif %}
{% endblock %}

{% block body %}
    <section class="post-listing" itemscope itemtype="http://schema.org/Blog">

        {% for post in pagePosts %}
            <article itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
                <header class="row">
                    <h2 itemprop="headline" class="eight columns">{{ macros.postlink(post.id, post.title) }}</h2>
                    <aside class="four columns">
                        <span class="reading-time">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.readingTime }}
                        </span>
                        <time itemprop="datePublished" datetime="{{ post.date | date('Y-m-d\TH:i') }}">{{ post.date | date('Y-m-d') }}</time>
                    </aside>
                </header>
                <section itemprop="text">
                    {{ post.summary | raw }}
                </section>

                <a class="button" href="{{ macros.posturl(post.id) }}">Read more</a>
            </article>

            {% if not loop.last %}
                <hr/>
            {% endif %}
        {% endfor %}

        <ul class="pagination">
            <li>{{ macros.archivelink(1, 'First', pageNumber == 1) }}</li>
            <li>
                {{ macros.archivelink(pageNumber - 1, 'Previous', hasPrev == false) }}
            </li>
            {% for id in range %}
                <li>
                    {{ macros.archivelink(id, id, id == pageNumber) }}
                </li>
            {% endfor %}
            <li>
                {{ macros.archivelink(pageNumber + 1, 'Next', hasNext == false) }}
            </li>

            <li>{{ macros.archivelink(numPages, 'Last', numPages == pageNumber) }}</li>
        </ul>
    </section>
{% endblock %}